## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/hhayati/Desktop/DS/World_Weather_Analysis/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Carnarvon,AU,-24.8667,113.6333,69.26,59,86,20.42,overcast clouds
1,1,Teguise,ES,29.0605,-13.5640,61.02,82,20,9.22,few clouds
2,2,Makakilo City,US,21.3469,-158.0858,77.32,61,0,17.27,clear sky
3,3,Ushuaia,AR,-54.8000,-68.3000,42.46,93,75,2.30,broken clouds
4,4,Sucre,BO,-19.0333,-65.2627,49.71,80,0,4.21,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Makakilo City,US,21.3469,-158.0858,77.32,61,0,17.27,clear sky
9,9,Rikitea,PF,-23.1203,-134.9692,77.20,69,10,19.98,clear sky
10,10,Marawi,PH,7.9986,124.2928,77.76,85,99,2.35,overcast clouds
22,22,Itarema,BR,-2.9248,-39.9167,76.50,91,58,8.81,broken clouds
28,28,Mount Isa,AU,-20.7333,139.5000,78.57,34,0,6.91,clear sky
29,29,Bambous Virieux,MU,-20.3428,57.7575,78.22,69,40,10.36,scattered clouds
30,30,Grand Gaube,MU,-20.0064,57.6608,78.39,67,35,10.00,scattered clouds
33,33,Puerto Carreno,CO,6.1890,-67.4859,78.85,80,97,4.45,overcast clouds
36,36,Odweyne,SO,9.4092,45.0640,79.25,46,33,10.56,scattered clouds
45,45,Praia,CV,14.9215,-23.5087,73.94,64,0,19.57,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                158
City                   158
Country                158
Lat                    158
Lng                    158
Max Temp               158
Humidity               158
Cloudiness             158
Wind Speed             158
Current Description    158
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df.count()

City_ID                158
City                   158
Country                158
Lat                    158
Lng                    158
Max Temp               158
Humidity               158
Cloudiness             158
Wind Speed             158
Current Description    158
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,
9,Rikitea,PF,77.20,clear sky,-23.1203,-134.9692,
10,Marawi,PH,77.76,overcast clouds,7.9986,124.2928,
22,Itarema,BR,76.50,broken clouds,-2.9248,-39.9167,
28,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,
29,Bambous Virieux,MU,78.22,scattered clouds,-20.3428,57.7575,
30,Grand Gaube,MU,78.39,scattered clouds,-20.0064,57.6608,
33,Puerto Carreno,CO,78.85,overcast clouds,6.1890,-67.4859,
36,Odweyne,SO,79.25,scattered clouds,9.4092,45.0640,
45,Praia,CV,73.94,clear sky,14.9215,-23.5087,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Makakilo City,US,77.32,clear sky,21.3469,-158.0858,Marriott's Ko Olina Beach Club
9,Rikitea,PF,77.20,clear sky,-23.1203,-134.9692,People ThankYou
10,Marawi,PH,77.76,overcast clouds,7.9986,124.2928,Derogongan Residence
22,Itarema,BR,76.50,broken clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
28,Mount Isa,AU,78.57,clear sky,-20.7333,139.5000,ibis Styles Mt Isa Verona
...,...,...,...,...,...,...,...
688,Manacapuru,BR,74.97,overcast clouds,-3.2997,-60.6206,Novo Hotel
693,Porto Novo,BJ,78.62,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
696,Ayagoz,KZ,74.30,scattered clouds,47.9714,80.4392,ХАН
700,Afua,BR,73.89,overcast clouds,-0.1567,-50.3867,Hotel Dias
704,Cabedelo,BR,75.87,scattered clouds,-6.9811,-34.8339,Hotel Pigalle

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))